<div id="wrapper">
  <h1 style="text-align: center">New York Times Article Scraper</h1>
  <div id="articles">
    {{#each articles}}
      <div class="card text-center" id="my-card">
        <div class="card-body">
          <h5 class='card-title'>
            <a href="{{this.link}}">{{this.title}}</a>
          </h5>
          <p class="card-text">
            <button data-id="{{this._id}}" class="btn btn-primary my-card-save-buttons">Save Article</button>
          </p>
        </div>
      <div class="card-footer text-muted">2 days ago</div>
    </div>
    {{/each}}
  </div>
  <div id="notes"></div>
</div>
