<div id="wrapper">
    <h1 style="text-align: center">Your Saved Articles</h1>
    <div id="articles">
    {{#each articles}}
        <div class="card text-center" id="my-card">
        <div class="card-body">
            <h5 class='card-title'>
            <a href="{{this.link}}">{{this.title}}</a>
            </h5>
            <p class="card-text">
            <button type="button" data-id="{{this._id}}" class="btn btn-primary my-card-add-note-buttons" data-toggle="modal" data-target="#exampleModal">Add note</button>
            <button type="button" data-id="{{this._id}}" class="btn btn-primary my-card-delete-note-buttons">Delete Article</button>
            </p>
        </div>
        <div class="card-footer text-muted">2 days ago</div>
    </div>
    {{/each}}
    </div>
<div class="form-popup" id="myForm">
  <form class="form-container">
    <h3>Article Note</h3>
    <label for="note-id"><b>Note ID:</b></label>
    <input type="text" style="width: 100%" id="note-id" name="note-id" readonly>
    <br>
    <label for="article-title"><b>Article Title:</b></label>
    <input id="article-title" style="width: 100%" name='article-title' readonly>
    <br>
    <label for="title"><b>Note Title:</b></label>
    <input id="note-title" style="width: 100%" name='title'>
    <br>
    <label for="body"><b>Text:</b></label>
    <br>
    <textarea id="note-text" rows="10" style="width: 100%" name="body"></textarea>
    <br>
    <button type="button" onclick="saveNote()" class="btn">Add note</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>
