<div id="wrapper">
    <h1 style="text-align: center">Your Saved Articles</h1>
    <div id="articles">
    {{#each articles}}
        <div class="card text-center" id="my-card">
        <div class="card-body">
            <h5 class='card-title'>
            <a href="{{this.link}}">{{this.title}}</a>
            </h5>
            <p class="card-text">
            <button type="button" data-id="{{this._id}}" class="btn btn-primary my-card-add-note-buttons" data-toggle="modal" data-target="#exampleModal">Add note</button>
            <button type="button" data-id="{{this._id}}" class="btn btn-primary my-card-delete-buttons">Delete Article</button>
            </p>
        </div>
        <div class="card-footer text-muted">2 days ago</div>
    </div>
    {{/each}}
    </div>
<div class="form-popup" id="myForm">
  <form class="form-container">
    <h1>Login</h1>
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit" class="btn">Login</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>
